# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ec7b409a99bf9d60c0d372b849b512d5a4928fcc7600ac21ab1ee027f6cfe6646fb9f23b220b6193bfecbf50baf743813ab815cb64c888836ac2df44a63f6d9b

test:
  secret_key_base: 7c8f546dd801bbc9115754ddb4860dfd78ec63a81fa40027cb9df2653bc4c902df35b1c27df1bf52f1124757c48fa9639c555c20feb728fc4a61e823ccd56f7b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
